@charset "UTF-8";

       
       html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp, small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article, aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu, nav,output,ruby,section,summary,time,mark,audio,video {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font: inherit;
            vertical-align: baseline;
        }

        /* HTML5 display-role reset for older browsers */
        article, aside, details, figcaption, figure, footer, header, hgroup, menu,
        nav, section {
            display: block;
        }

        body {
            line-height: 1;
        }

        ol,
        ul {
            list-style: none;
        }

        blockquote,
        q {
            quotes: none;
        }

        blockquote:before,
        blockquote:after,
        q:before,
        q:after {
            content: "";
            content: none;
        }

        table {
            border-collapse: collapse;
            border-spacing: 0;
        }

        input:focus {
            outline: none;
        }

        a {
            color: inherit;
            text-decoration: none;
        }

        body {
            position: relative;
            color: #212529;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            font-weight: 400;
            min-height: 100%;
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
        }

        *,
        *::before,
        *::after {
            box-sizing: border-box;
        }

        #header {
            background: #fbf6f0;
            border-bottom: 1px solid #eee;
            height: 67px;
        }

        .header-inner {
            position: relative;
            width: 1400px;
            height: 100%;
            padding-top: 10px;
            padding-bottom: 10px;
            margin: 0 auto;
            text-align:center;
        }
        .header-logo {
            width:93%;
            height: 100%;
        	font-size:12px;
            font-weight:bold;
            color:#ffb319;
            float:left;
            padding-left:130px;
        }
        .logo-img {
        	width:165px;
        	height:40px;
        }
		.header-logout {
			width:7%;
			height: 100%;
			float:left;
			color: #999999;
			padding-top:13px;
		}        
		
		#nav {
			width:15%;
			height:91vh;
			float:left;
			border-right: 2px solid #eee;
			text-align:center;
		}
		
		.nav-inner {
			width:95%;
			height:90%;
			margin-top:20px;
			display: inline-block;
			text-align:center;
		}
		.nav-title {
			width:90%;
			height:50px;
			display: inline-block;
			font-size:26px;
			font-weight:bold;
			color:#ffb319;
			border-bottom:2px solid #eee;
		}
		.nav-inner p {
			text-align:left;
			margin-top:18px;
			margin-left:35px;
			font-size:17px;
			color:#ffb319;
			font-weight:bold;
		}
		.nav-inner ul{
			margin-top:15px;
			font-size:14px;
			color:#777;
			text-align:left;
			margin-left:50px;
		}
		.nav-inner li{
			margin-top:8px;
		}
		
		/*member,suspend,withdrawal*/
		
		#section {
			width:85%;
			height:91vh;
			float:left;
			text-align:center;
		}
		.section-inner {
			width:90%;
			height:100%;
			display: inline-block;
		}
		.section-title {
			width:100%;
			height:70px;
			text-align:left;
			font-size:24px;
			color:#777;
			border-bottom:1px solid #eee;
			padding-top:24px;
			padding-left:70px;
		}
		.section-content {
			width:100%;
			height:81.8vh;
			text-align:center;
			padding-top:30px;
		}
		.section-search {
			width:100%;
			height:30px;
			text-align:right;
			padding-right:50px;
			padding-left:812px;
		}
		.section-search input {
			width:220px;
			height:30px;
			padding-left:10px;
			border-radius:5px 0px 0px 5px;
			border:2px solid #ffb319;
			float:left;
		}
		.section-search button {
			width:40px;
			height:30px;	
			border:2px solid #ffb319;
			background:#ffb319;
			border-radius:0px 5px 5px 0px;
			float:left;
			margin-left:-1px;
			cursor: pointer;
		}
		.section-search button:active {
			background:#ffda77;
		}
		
		.section-main {
			width:100%;
			margin-top:30px;
			padding-left:70px;
		}
		.section-main table {
			width:1000px;
			border-collapse:collapse;
		}
		.section-main table img{
			cursor:pointer;
		}
		.section-main th {
			padding:8px;
			height:30px;
			border-top:1px solid #eee;
			border-bottom:1px solid #eee;
			background:#fbf6f0;
			font-weight:bold;
		}
		.section-main td {
			padding:8px;
			height:35px;
			background:#fff;
			border-top:1px solid #eee;
			border-bottom:1px solid #eee;
		}
		.section-main .liner {
			border-bottom:1px solid #ffda77;
		}
		.suspend-btn {
			color:#fff;
			border:1px solid #ffb319;
			background:#ffb319;
			cursor:pointer;
			border-radius:5px;
		}
		.unlock-btn {
			color:#fff;
			border:1px solid #ffb319;
			background:#ffb319;
			cursor:pointer;
			border-radius:5px;
		}
		.restore-btn {
			color:#fff;
			border:1px solid #ffb319;
			background:#ffb319;
			cursor:pointer;
			border-radius:5px;
		}
		.section-btn:active {
			background:#ffda77;
		}
		.detail {
		font-weight:bold; 
		border-bottom:solid 1px #eee;
		padding-bottom:8px;
		}
		/*QnA*/
		
		.QnA-main {
			width:1000px;
			display: inline-block;
			margin-top:-15px;
		}
		.QnA-search-input {
			width:90%;
			height:40px;
			border:2px solid #ffb319;
			border-radius:20px 0px 0px 20px;
			float:left;
			padding-left:20px;
			font-size:18px;
		}
		.QnA-search-button {
			width:10%;
			height:40px;
			background:#ffb319;
			border:2px solid #ffb319;
			border-radius:0px 20px 20px 0px;
			float:left;
			cursor: pointer;
		}
		.QnA-main button:active {
			background:#ffda77;
		}
		.QnA-titleList {
			width:100%;
			margin-top:50px;
			text-align:center;
			background:#fbf6f0;
			border-collapse:collapse;
			border-radius:8px;
		}
		.QnA-titleList ul {
			font-size:18px;
			color:#666;
		}
		.QnA-titleList li {
			margin-top:14px;
			margin-bottom:14px;
			cursor:pointer;
		}
		.QnA-message {
			margin-top:25px;
			text-align:left;
			color:#999;
			font-size:13px;
		}
		.QnA-accordion {
			margin-top:10px;
			text-align:left;
		}
		.QnA-title {
			width:100%;
			height:40px;
			font-size:18px;
			padding-left:10px;
			padding-top:10px;
			background:#fbf6f0;
			border-bottom:2px solid #eee;
			cursor: pointer;
		}
		.QnA-detail {
			width:1000px;
			border-bottom:2px solid #eee;
			padding:15px;
			display:none;
		}
		.QnA-detail p {
			line-height:23px;
		}
		.QnA-detail button {
			width:70px;
			height:25px;
			color:#fff;
			font-size:16px;
			font-weight:bold;
			margin-top:15px;
			border:1px solid #ffb319;
			background:#ffb319;
			cursor: pointer;
		}
		.QnA-detail button:active {
			background:#ffda77;
		}
		
		.QnA-add {
			text-align:right;
			margin-top:20px;
		}
		.QnA-add button {
			width:70px;
			height:25px;
			color:#fff;
			font-size:16px;
			font-weight:bold;
			border:1px solid #ffb319;
			background:#ffb319;
			cursor: pointer;
		}
		.QnA-add button:active {
			background:#ffda77;
		}
		
		/*category*/
		
		.category-menu {
			width:500px;
			float:left;
			margin-left:230px;
			margin-top:10px;
			border:2px solid #ffda77;
			border-radius:20px;
		}
		.category-title {
			padding-top:30px;
			padding-bottom:20px;
			font-size:25px;
			font-weight:bold;
			color:#ffb319;
			background:#fbf6f0;
			border-radius:20px 20px 0px 0px;
			border-bottom:1px solid #eee;			
		}
		.category-list {
			margin-top:25px;
			margin-left:170px;
			color:#666;
			text-align:left;
		}
		.category-list li {
			margin-top:10px;
		}
		.category-del {
			margin-top:50px;
			margin-bottom:30px;
		}
		.category-del span {
			font-size:10px;
			color:red;
			padding-left:10px;
		}
		.category-del button {
			width:46%;
			height:36px;
			border:1px solid #ffb319;
			background:#ffb319;
			margin-top:15px;
			color:#fff;
			font-size:18px;
			font-weight:bold;
			border-radius:20px;
			cursor: pointer;
		}
		.category-del button:active {
			background:#ffda77;
		}
		.category-del input {
			width:46%;
			height:36px;
			border:2px solid #ffda77;
			font-size:12px;
			border-radius:20px;
			padding-left:20px;
			margin-left:8px;
			margin-bottom:-5px;
		}
		
		/*login*/
		
		.out-line{
	        width:100%;
	        height:100vh;
	        background:#fbf6f0;
	        text-align:center;
        }
        
        .login-main {
	       	width:500px;
	       	height:500px;
	       	background:#fbf6f0;
	       	text-align:center;
	       	display: inline-block;
	       	margin-top:120px;
	    }    
	    
        .login-text {
	        color:#ffb319;
	        font-weight:bold;
	        padding-left:40px;
        }
        
        .login-logo-img {
        	width:230px;
        	height:60px;
	        margin-top:25px;
        }
        
        .login-inner {
        	width:100%;
        	height:330px;
        	border:3px solid #ffda77;
        	margin-top:20px;
        	border-radius:20px;
        }
        
        .login-input {
        	width:100%;
        	margin-top:40px;
        }
        
        .login-input_id {
        	width:90%;
        	height:60px;
        	border:1px solid #ffda77;
        	border-radius:10px;
        	font-size:20px;
        	padding-top:3px;
        	padding-left:40px;
        	background-image: url(/images/admin/icon_User.png);
 			background-position: 12px center;
 			background-repeat: no-repeat;
        }
        .login-input_pw {
        	width:90%;
        	height:60px;
        	border:1px solid #ffda77;
        	border-radius:10px;
        	margin-top:2px;
        	font-size:20px;
        	padding-top:3px;
        	padding-left:40px;
        	background-image: url(/images/admin/icon_Lock.png);
 			background-position: 12px center;
 			background-repeat: no-repeat;
        }
        
        .login-ckbox {
        	margin-top:9px;
        	width:100%;
        	height:50px;
        	text-align:left;
        	padding-left:30px;
        	color:#666;
        }
        .login-btn {
        	width:90%;
        	height:60px;
        	border:1px solid #ffb319;
        	border-radius:10px;
        	background:#ffb319;
        	font-size:22px;
			font-weight:bold;        	
        	color:#fff;
        	cursor: pointer;
        }
        
        /*inquiry, report*/
        
        .inquiry-count {
        	width:1000px;
        	margin-top:20px;
			margin-bottom:-15px;        	
        	margin-left:70px;
        	text-align:right;
        	font-size:18px;
        	color:#666;
        }
        
        .inquiry-main {
        	width:450px;
        	height:400px;
        }
        
        .inquiry-title {
        	width:100%;
        	font-size:15px;
        	padding:10px;
        	color:#666;
        	background:#fdf6f0;
        }
        .inquiry-content {
        	width:100%;
        	font-size:13px;
        }
         .inquiry-table {
        	width:100%;
        	border-collapse:collapse;
        }
        .inquiry-table th {
        	font-weight:bold;
        	padding:10px;
        	vertical-align : middle;
        	border:1px solid #eee;
        }
        .inquiry-table td {
        	padding:10px;
        	vertical-align : middle;
        	border:1px solid #eee;
        }
		.inquiry-response {
			width:100%;
		}        
        .inquiry-textarea {
        	width:80%;
        	height:117px;
        	float:left;
        	border:1px solid #eee;
        }
        .inquiry-textarea:focus {
        	outline:none;
        }
        .inquiry-response-btn {
        	width:20%;
        	height:117px;
        	float:left;
        	color:#fff;
        	font-weight:bold;
        	background:#ffb319;
        	border:1px solid #ffda77;
        }
        .inquiry-response-btn:active {
        	background:#ffda77;
        }
        /* report */
        
        .report-textarea {
        	width:80%;
        	height:117px;
        	float:left;
        	border:1px solid #eee;
        }
        .report-textarea:focus {
        	outline:none;
        }
        .report-response-btn {
        	width:20%;
        	height:117px;
        	float:left;
        	color:#fff;
        	font-weight:bold;
        	background:#ffb319;
        	border:1px solid #ffda77;
        }
        .report-response-btn:active {
        	background:#ffda77;
        }
        
        /*statistics*/
        
        .statistics-table td {
        	text-align:left;
        	padding-left:20px;
        }
        .statistics-table th {
        	font-weight:1;
        }
        
        /*pager*/
        .pager-wrap {
	
		}
		
		.pager {
			font-size: 0;
			text-align: center;
			margin-top: 50px;
		}
		
		.pager a {
			display: block;
		}
		
		.pager>li {
			display: inline-block;
			vertical-align: top;
			margin: 0 2px;
		}
		
		.pager>li>a {
			width: 30px;
			height: 30px;
			line-height: 30px;
			border-radius: 50%;
			boder: 1px solid #666;
			color: #111;
			font-size: 12px;
			text-align: center;
		}
		
		.pager>li>a:hover {
			background-color: #eee;
		}
		
		.pager>li.on>a {
			border-color: #ffda77;
			background-color: #ffda77;
			color: #fff;
		}
        
        